<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <form method="POST" action="/ta02/addUser">

          <label for="name">Add User</label>
          <input type="text" name="name" id="name">

          <button type="submit">Submit</button>
        </form>
        <p class="error"> <%= typeof(errorMsg1 !== undefined) ? errorMsg1 : ""%> </p>
        <h3>List of Users</h3>
        <section class="names">
          <ul class="users">
          <% names.forEach(name => { %>
            <li><%= name %></li>
          <% }) %> 
        </ul>
        </section>
        <p class="error"> <%= typeof(errorMsg !== undefined) ? errorMsg : ""%> </p>
        <form method="POST" action="/ta02/remUser">
          <label for="name">Remove User</label>
          <input type="text" name="remName" id="remName">

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="container">

    </div>


</body>

</html>